<div class="product-group-container">
    <h1 class="title">Список групп продуктов</h1>

    @if (authService.isAuth() && authService.role === 'ADMIN') {
    <button class="add-product-group-btn" (click)="onCreateProductGroup()">+ Добавить группу</button>
    }
    <div *ngIf="productGroups.length === 0" class="empty-state">
      <mat-icon>category</mat-icon>
      <p>Группы продуктов не найдены</p>
    </div>
  
    <div class="product-group-cards">
      <mat-card *ngFor="let group of productGroups" class="product-group-card" (click)="viewProducts(group.groupId)">
        @if (authService.isAuth() && authService.role === 'ADMIN') {
        <button class="menu-button" (click)="toggleMenu(group.groupId); $event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <div class="menu-content" [class.show]="selectedGroupId === group.groupId">
            <button (click)="editProductGroup(group.groupId); $event.stopPropagation()">Редактировать</button>
            <button (click)="deleteProductGroup(group.groupId); $event.stopPropagation()">Удалить</button>
          </div>
        }
        <mat-card-header>
          <div mat-card-avatar class="product-group-avatar">
            {{ group.groupName.charAt(0) }}
          </div>
          <mat-card-title>{{ group.groupName }}</mat-card-title>
          <mat-card-subtitle>ID: {{ group.groupId }}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <div class="product-group-info">
            <div class="info-row">
              <mat-icon>description</mat-icon>
              <span>{{ group.description || 'Нет описания' }}</span>
            </div>
          </div>
        </mat-card-content>
        
      </mat-card>
    </div>
</div>