<div class="header">
    <h1>Автоматизированная информационная система учета клиентов</h1>
    <p>Магазин мебели "Уютный дом"</p>
  </div>
  
  <div class="tabs">
    <button class="tab-button" [class.active]="isActive('/clients')" routerLink="/clients">Клиенты</button>
    <button class="tab-button" [class.active]="isActive('/product-groups')" routerLink="/product-groups">Категории товаров</button>
    <button class="tab-button" [class.active]="isActive('/discounts')" routerLink="/discounts">Скидки</button>
    <button class="tab-button" [class.active]="isActive('/manufacturers')" routerLink="/manufacturers">Производители</button>
    <!-- <button class="tab-button" [class.active]="isActive('/orders')" routerLink="/orders">Заказы</button> -->
  </div>


<router-outlet></router-outlet>