<!-- edit-product.component.html -->
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div *ngIf="isLoading" style="text-align: center; color: white;">
        Загрузка данных...
    </div>
    
    <div *ngIf="!isLoading">
        <div>
          <label for="productName">Название продукта:</label>
          <input id="productName" type="text" formControlName="productName">
          <div class="error" *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched">
            Название обязательно.
          </div>
        </div>
      
        <div>
          <label for="description">Описание:</label>
          <textarea id="description" formControlName="description"></textarea>
        </div>

        <div>
          <label for="price">Цена:</label>
          <input id="price" type="number" step="0.01" formControlName="price">
          <div class="error" *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
            Введите корректную цену.
          </div>
        </div>

        <div>
          <label for="stockQuantity">Количество на складе:</label>
          <input id="stockQuantity" type="number" formControlName="stockQuantity">
          <div class="error" *ngIf="productForm.get('stockQuantity')?.invalid && productForm.get('stockQuantity')?.touched">
            Введите корректное количество.
          </div>
        </div>

        <div>
          <label for="manufacturerId">Производитель:</label>
          <select id="manufacturerId" formControlName="manufacturerId">
            <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.manufacturerId">
              {{ manufacturer.manufacturerName }}
            </option>
          </select>
          <div class="error" *ngIf="productForm.get('manufacturerId')?.invalid && productForm.get('manufacturerId')?.touched">
            Выберите производителя.
          </div>
        </div>

        <div>
          <label for="groupId">Группа товаров:</label>
          <select id="groupId" formControlName="groupId" [disabled]="isEditMode">
            <option *ngFor="let group of productGroups" [value]="group.groupId">
              {{ group.groupName }}
            </option>
          </select>
        </div>

        <button style="margin-bottom: 10px;" type="submit" [disabled]="productForm.invalid">
          {{ isEditMode ? 'Сохранить изменения' : 'Добавить продукт' }}
        </button>
        <button type="button" (click)="router.navigate(['/product-groups', groupId, 'products'])">Отмена</button>
    </div>
</form>