.auth {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.auth-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}
.auth-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}
.hint {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    top: 500px;
    left: 500px;
    z-index: 1;
    font-size: 12px;
}
.auth-input:hover + .hint {
    display: block;
}
.auth-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.auth-button:hover {
    background-color: #0056b3;
}
.exit-button {
    background-color: #ccc;
}
.exit-button:hover {
    background-color: #aaa;
}