<div class="auth">
    <form [formGroup]="form" class="auth-container" (ngSubmit)="login()">
    <h2>Вход в систему</h2>
    <input formControlName="login" type="text" class="auth-input" placeholder="Логин" required>
    <div class="hint">Ввод чего-то по логину</div>
    <input formControlName="password" type="password" class="auth-input" placeholder="Пароль" required>
    <div class="hint">Ввод чего-то по паролю</div>
    <button type="submit" class="auth-button">Войти</button>
    <button type="button" class="auth-button">На главную</button>
    </form>
</div>
