<div class="discount-container">
    <h1 class="title">Список скидок</h1>

    <button class="add-discount-btn" (click)="onCreateDiscount()">+ Добавить скидку</button>
    
    <div *ngIf="discounts.length === 0" class="empty-state">
      <mat-icon>percent</mat-icon>
      <p>Скидки не найдены</p>
    </div>
  
    <div class="discount-cards">
      <mat-card *ngFor="let discount of discounts" class="discount-card">
        <button class="menu-button" (click)="toggleMenu(discount.discountId); $event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <div class="menu-content" [class.show]="selectedDiscountId === discount.discountId">
            <button (click)="editDiscount(discount.discountId); $event.stopPropagation()">Редактировать</button>
            <button (click)="deleteDiscount(discount.discountId); $event.stopPropagation()">Удалить</button>
          </div>
        <mat-card-header>
          <div mat-card-avatar class="discount-avatar">
            {{ discount.discountPercentage }}%
          </div>
          <mat-card-title>Скидка {{ discount.discountPercentage }}%</mat-card-title>
          <mat-card-subtitle>ID: {{ discount.discountId }}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <div class="discount-info">
            <div class="info-row">
              <mat-icon>calendar_today</mat-icon>
              <span>Начало: {{ discount.startDate | date:'dd.MM.yyyy' }}</span>
            </div>
            <div class="info-row">
              <mat-icon>event_available</mat-icon>
              <span>Окончание: {{ discount.endDate | date:'dd.MM.yyyy' }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
</div>